<article id="articleMainContent_listCategorie">
    <div id="articleMainContent_listCategorie_column">
        <table>
            <tbody>
                <tr>
                <% 
                    var j = 0;
                    var nbLinksByColumn = Math.round(categorieFile.length/3);
                    var nbColumn = 3;
                    for(var i=0; i < nbColumn; i++){ %>
                    <td>
                        <ul>
                            <% 
                            while(j < nbLinksByColumn) { 
                                if (j<categorieFile.length){
                            %>
                                    <li>
                                        <a href="/<%= nomCategorie %>/<%= categorieFile[j] %>"><%= categorieFile[j]%> </a>
                                    </li>
                            <% 
                                }
                                j++;
                            }
                            nbLinksByColumn+=Math.round(categorieFile.length/3);
                            %>
                        </ul>
                    </td>
                <% } %>
                </tr>
            </tbody>
        </table>
    </div>
</article>
