<article id="articleMainContent_AlphabeticalIndex">
    <nav id="articleMainContent_AlphabeticalIndex_letters">
        <fieldset>
            <legend>
                <ul id="articleMainContent_AlphabeticalIndex_tabs" class="nav nav-tabs">
                    <!--LI Genere en javascript dans createTable.js-->
                </ul>
            </legend>
            <!-- UL et LI Genere en javascript dans createTable.js-->
        </fieldset>
    </nav>
</article>