mongo/backup_mongo/*
mongo/deezer/*
mongo/animux/*
mongo/discogs/*

public/my_components/MT5/multitrack/*
public/download/*
public/AmpSim3/*
public/AmpSimFA/*

routes/conf/login.json
routes/conf/confJwt.json

node_modules/*

cert_https/*

.vscode/*