mongo/backup_mongo/*
mongo/backup_mongo_tmp/*
mongo/deezer/*
mongo/animux/*
mongo/animux*
public/my_components/MT5/multitrack/*
public/download/*
public/AmpSim3/*
public/AmpSimFA/*
node_modules/*
cert_https/*
routes/conf/login.json
routes/conf/confJwt.json

/nbproject/private/