body{
	font-family: 'Roboto', sans-serif !important;	
    margin: 0;
    background-color: #f2f2f2;
}
html{
    overflow: scroll;
}
#mainContent{
    width: 50%;
    margin: auto;
    margin-top: 5%;
    min-width: 345px;
}
paper-material{
    background-color: white;
}
paper-toolbar{
    z-index: 1000;
}
/*-------------------Modififaction de la couleur de la scrollbar----------------------------*/

body::-webkit-scrollbar,p::-webkit-scrollbar {
  width: 9px;
  height: 5px;
  background-color: #f2f2f2;
  }

body::-webkit-scrollbar-track, p::-webkit-scrollbar-track{
  background-color: #f2f2f2;
  }

body::-webkit-scrollbar-thumb ,p::-webkit-scrollbar-thumb {
  background-color: #3f51b5;
}