html {
	height: auto;
}
body{
	font-family: 'Roboto', sans-serif !important;	
	width:100%;
	position: absolute;
    top: 0;
    bottom: 0;
}
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------CSS HEADER------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
header {
	background-color: white;
	left: 0;
    position: fixed;
    right: 0;
    top: 0;
    height: 72px;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2);
	width:100%;
    z-index: 100;
}
	/*----------------------------------------------------------------------------------------*/
	/*------------------------------------CSS headerNavLeft-----------------------------------*/
	/*----------------------------------------------------------------------------------------*/
	#headerNavLeft {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-box-flex: 0 1 auto;
		-webkit-flex: 0 1 auto;
		flex: 0 1 auto;
		min-width: 25%;
		padding: 0 10px 0 14px;
		width:33%;
		display: inline-block;
	}

	/*----------------------------------------------------------------------------------------*/
	/*-----------------------------------CSS headerNavCenter----------------------------------*/
	/*----------------------------------------------------------------------------------------*/
	#headerNavCenter {
		-webkit-align-items: center;
		align-items: center;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		display: -webkit-box;
		display: -moz-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		flex: 1;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-justify-content: center;
		justify-content: center;
		width:33%;
		display: inline-block;
		
	}

		#headerNavCenter_InputSearch {
			display: -webkit-box;
			display: -moz-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-flex: 1;
			-webkit-flex: 1;
			flex: 1;
			margin: 12px 0;
			background: #f5f5f5;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			border-top: 1px solid #f5f5f5;
			height: 40px;
			white-space: nowrap;
		}
		#headerNavCenter_InputSearch:hover {
			background:#E6E6E6;
		}

			#headerNavCenter_InputSearch_Icon {
				fill: rgba(0,0,0,0.54);
				margin: 8px 24px 0;
				vertical-align: top;
			}
			#headerNavCenter_InputSearch_Input {
				display: -webkit-box;
				display: -moz-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-flex: 1;
				-webkit-flex: 1;
				flex: 1;
			}
				#headerNavCenter_InputSearch_Input_Text {
					-webkit-box-flex: 1;
					box-flex: 1;
					-webkit-flex-grow: 1;
					flex-grow: 1;
					border: none;
					outline: none;
					background: none;
					color: #212121;
					font-family: Roboto;
					font-size: 16px;
					vertical-align: top;
					height: 40px;
					line-height: 1.25;
					padding: 0;
					z-index: auto;
				}
	/*----------------------------------------------------------------------------------------*/
	/*-----------------------------------CSS headerNavRight-----------------------------------*/
	/*----------------------------------------------------------------------------------------*/
	#headerNavRight {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-box-flex: 0 1 auto;
		-webkit-flex: 0 1 auto;
		flex: 0 1 auto;
		min-width: 25%;
		text-align: right;
		width:33%;
		display: inline-block;
	}


/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------CSS ARTICLE-----------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------*/
/*---------------------------------CSS articleMainContent---------------------------------*/
/*----------------------------------------------------------------------------------------*/
#articleMainContent {
	margin-top: 100px;
    min-width: 830px;
    padding: 56px 0 1px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	height: 90%;
}
	/*----------------------------------------------------------------------------------------*/
	/*------------------------CSS articleMainContentAlphabeticalIndex-------------------------*/
	/*----------------------------------------------------------------------------------------*/
	#articleMainContent_AlphabeticalIndex {
		bottom: 0;
		box-shadow: 0 0 3px rgba(0,0,0,.16),0 3px 12px rgba(0,0,0,.32);
		border-bottom: 1px solid rgba(255,255,255,0.01);
		background: #f5f5f5;
		margin-left: 15px;
		margin-right: 15px;
		text-align: center;
		border-radius: 3px;
	}

	#articleMainContent_AlphabeticalIndex:hover{
    	box-shadow: 2px 3px 20px rgb(190, 189, 189);
	}
        #articleMainContent_AlphabeticalIndex_tabs {
            font-size: 14px;
            cursor: pointer;
        }
        #articleMainContent_AlphabeticalIndex_letters {
            margin-left: 5%;
            margin-right: 5%;
        }
            #articleMainContent_AlphabeticalIndex_letters ul{
                list-style: none;
                display: inline-flex;
                width:60%;
            }

                #articleMainContent_AlphabeticalIndex_letters ul>li{
                    padding-left: 1%;
                    padding-right: 1%;
                    font-size: 18px;
                }
/*----------------------------------------------------------------------------------------*/
/*------------------------CSS articleMainContent_listCategorie-------------------------*/
/*----------------------------------------------------------------------------------------*/

#articleMainContent_listCategorie{
    background-color: whitesmoke;
    margin-top: 5%;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,.16),0 3px 12px rgba(0,0,0,.32);
    border-bottom: 1px solid rgba(255,255,255,0.01);
}
#articleMainContent_listCategorie:hover{
    box-shadow: 2px 3px 20px rgb(190, 189, 189);
}

        #articleMainContent_listCategorie_column table{
            width: 100%;
        }
        #articleMainContent_listCategorie_column td{
            
            width :33%;
            max-width:300px;
            margin: 3%;    
            display: inline-block;
            word-wrap: break-word;
            font-size:15px;
        }
        #articleMainContent_listCategorie_column li{
            margin-top: 5px;    

        }

/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------CSS TRANSITION---------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
#articleMainContent_AlphabeticalIndex,#headerNavCenter_InputSearch,#articleMainContent_listCategorie{
	-o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -khtml-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}



	
	
/*-----------------------------------------------------------------------*/
/*-------------------------media pour smartphone-------------------------*/
/*-----------------------------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width: 1000px) {
	
	
	
	
}







