body{
	font-family: 'Roboto', sans-serif !important;	
    margin: 0;
    background-color: #f2f2f2;
}

/*
paper-button.nav-bar {
    background: #245756;
    color:red;
}
*/

#mainContent{
    width: 50%;
    margin: auto;
    margin-top: 5%;
    min-width: 488px;
}
paper-material{
    background-color: white;
}
